/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Colors */
    --body-color: #222; /* Darker background color */
    --text-color: #ccc; /* Light text color */
    --frame-bg: #18191a; /* Dark sidebar color */
    --primary-color: #3a3b3c; /* Primary color */
    --link-hover: #222; 
    --button-bg: #3a3b3c; /* Button background color */
    --button-color: #ccc; /* Button text color */
    --border-radius: 5px; /* Border radius */
    --heading-color: #ccc; /* Heading text color */
    --accent-color: #44ace8; 
}

/* Apply Defaults */
body, h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

button {
    background-color: var(--button-bg);
    color: var(--button-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

/* App Styles */
body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.TopBarContainer {
    width: 100%;
}

.DisplayContainer {
    display: flex;
    width: 100%;
    height: 100%;
}

.Topbar {
    width: 100%;
    height: 10%;
    color: white;
    padding: 5px;
    display: flex;
    background: var(--frame-bg);
}

.Topbar p:not(:first-child) {
    padding-left: 5px;
    padding-right: 5px;
}

.Sidebar {
    height: 100vh;
    width: 20%;
    padding: 20px;
    background-color: var(--frame-bg);
    color: var(--text-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.Sidebar-title {
  font-size: 1.2em; /* Adjust size as needed */
  font-weight: 700; /* You can adjust the weight */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--heading-color); /* Use your preferred color */
  margin-bottom: 10px; /* Add some space below the title */
}


.Sidebar-link {
  width: 100%;
  margin: 20px 0px 0px 0px;
  padding: 0.5em;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
  background-color: var(--frame-bg);
}

.Sidebar-link:hover {
  background-color: var(--link-hover);
  cursor: pointer;
}

.Sidebar-link a {
  font-size: .9em;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: inherit;
  padding-left: 10px;
}

/* .Sidebar-link a p {
  padding-right: 15px;
} */

.Sidebar-link-active {
  background: var(--link-hover) !important;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-left: 2px solid var(--accent-color);
}

.icon-margin{
  margin-right: 0.5em;
}


.MainWindow {
    background: var(--body-color);
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    border: 2px solid var(--frame-bg);
    padding: 20px;
    box-shadow: 5px 2px 5px 2px var(--frame-bg);
    margin-left: -5px;
}

.MainWindow-header{
  margin-bottom: 12px;
  width: 100%;
}

/* Additional Styles */
.button {
    padding: 10px 20px;
    font-size: 16px;
}

/* Adjust heading styles if needed */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.Container{
  display: flex;
  height: 85%;
  width: 100%;
}

.Editor{
  background: #f9f9f9;
  width: 33%;
  margin-right: 5px;
  border-radius: 10px;
  padding: 10px;
}

.EditorInput{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 14px;
  font-family: monospace;
  outline: none;
  resize: none;
}
